@charset "UTF-8";

.login_show{
    display: none;
}
#wrap{
    width: 100%;
    min-width: 1240px;
}
#header{
    height: 130px;
    /* background-color: aquamarine; */
}
#headerIn{
    width: 1280px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: antiquewhite; */
}
.logo{
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    
    background-color: blueviolet;
}
.gnb{
    height: 40px;
    position: absolute;
    bottom: -40px;
}
.gnb li a:hover{
    color: #ccc;
}
.gnb ul{
    display: flex;
    justify-content: space-between;
   
}
.gnb ul li{
    width: 426px;
    text-align: center;
}
.gnb .gnb_point a{
    color: yellow;
}
.gnb ul li a{
    font-size: 20px;
    line-height: 40px;
    padding: 5px 100px;
    color: #222;
    font-weight: 500;
    /* background-color: rosybrown; */
}
.gnb li:nth-child(2){
    content: "";
    background-color: rgba(10, 10, 202, 0.575);
}
.gnb li:not(:nth-child(2)){
    content: "";
    background-color: rgba(61, 231, 61, 0.623);
}

.util{
    position: absolute;
    right: 0;
}
.util ul{
    display: flex;
}
.util li{
    margin-left: 10px;
}
.util li:nth-child(2)::before{
    content: "";

}
.util li a{
    color: #333;
}
.search{
    position: relative;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 0, 0.726);
    border: none;
}
.search fieldset{
    display: flex;
    align-content: center;
}
.hs_input_text{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 0;
    margin-left: 20px;
    padding-right: 30px;

}
.hs_input_btn{
    width: 40px;
    height: 30px;
    text-indent: -99999px;
    border: 0;
    background-color: transparent;
    background-image: url(../img/icon_search.png);
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}



#write-wrap{
    width: 100%;
    min-width: 700px;
}

#write-main{
    width: 700px;
    margin: 0 auto 20px auto;
    background-color: darkgrey;
}

.write-title{
    width: 500px;
    height: 30px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #333;
    margin: 10px auto 30px auto;
    padding-top: 30px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}

.write-text{
    width: 600px;
    height: 500px;
    background-color: transparent;
    border: 1px solid #333;
    margin: 0 auto 10px auto;
    padding: 10px;
    font-size: 17px;
    outline: none;
}
.list-btn{
	position:relative;
    display: flex;
    padding: 0 40px;
    padding-bottom: 20px;
}
.btn-L{
	position:absolute;
	top:-15px;
	left:412px;

}
.btn-R{
	position:absolute;
	top:-15px;
	left:973px;
    display: flex;
}
.btn-R li{
    margin-left: 10px;
}
.list-btn button{
    width: 60px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #e5e5e5;
    font-size: 15px;
    font-weight: 700;
}

#comment{
    width: 700px;
    margin: 0 auto 20px auto;
    padding: 20px 20px;
}
#comment h1{
    font-size: 18px;
    margin-bottom: 10px;
}
.comment-list{
    margin-bottom: 20px;
}
.comment-list li{
    line-height: 30px;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
}
.put-comment{
    text-align: center;
}
.put-comment input{
    width: 600px;
    height: 25px;
}
.put-comment button{
    width: 40px;
    height: 27px;
}




#footer{
    width: 100%;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-top: 30px;
}

.footerIn{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.fLogo{
    width: 150px;
    margin-bottom: 20px;
}

.fR {
    margin-top: 10px;
}


.copyright{
    color: #adaeb0;
}



.goTop{
    position: fixed;
    bottom: 100px;
    right: 100px;
}
